@import "../../assets/styles/common.scss";

.header {
  background: #fff;
}

.container {
  display: flex;
  align-items: center;
  @include layout;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
}

.logoText {
  margin-left: 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  font-size: 18px;
}